<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>7bits front-end 2018 homework number 1</title>
        <link rel="stylesheet" href="../styles/textStyles.css">
    </head>
    <!-- 800 width 900 height, Ok , go-->
    <body>
        <!-- String typed header -->
        <div style="padding-left: 74px; padding-right: 74px">
            <img src="../images/logo.jpg">
            <span class="tiny_header" style="padding-left: 180px">Lifestyle</span>
            <span class="tiny_header" style="padding-left: 72px">Photodiary</span>
            <span class="tiny_header" style="padding-left: 62px">Music</span>
            <span class="tiny_header" style="padding-left: 56px">Travel</span>
        </div>
        <img src="../images/head_image.jpg" style="padding-left: 74px; padding-top: 60px">
        <div style="padding-top: 60px; padding-left: 125px; padding-right: 75px">
            <!-- text block -->
            <div style="width: 405px; float: left">
                <span class="tiny_header" style="font-size: 15px">Photodiary</span>
                <h2 class="main_text">The perfect weekend getaway</h2>
                <p class="main_text">
                    Some big text about my weekend and how I learn english and walk around the street. I don't like thing like this. Realy, it's fun, but If you will give us some text for pages - it help us. Strong.
                </p>
                <img src="../images/000002.jpg" style="width: 400px;height: auto">
                <p class="main_text">
                    Some big text after image. I really don't know whyyyyyyy.... and so? Anyway, may I get workshop task day before?
                </p>
            </div>
            <!-- right block-->
            <div style="width: 200px;padding-left: 425px">
                <img src="../images/000005.jpg" style="width: 168px">
                <h5 class="main_text">About me</h5>
                <p class="main_text">
                    What I want to say about me? I like cookies
                </p>
                <h6 class="tiny_header" style="font-size: 15px">Top posts</h6>
                <ul>
                    <li>
                        <h6 class="main_text" style="font-size: 11px">A day exploring the Alps</h6>
                        <span class="tiny_header" style="font-size: 10px">24 COMMENTS</span>
                    </li>
                    <li>
                        <h6 class="main_text" style="font-size: 11px">American dream</h6>
                        <span class="tiny_header" style="font-size: 10px">19 COMMENTS</span>
                    </li>
                    <li>
                        <h6 class="main_text" style="font-size: 11px">Cold winter days</h6>
                        <span class="tiny_header" style="font-size: 10px">15 COMMENTS</span>
                    </li>
                </ul>

            </div>
        </div >
            <!-- bottom block-->
        <div class="term_text" style="width: 668px; margin-left: 32px; margin-right: 32px" >
            Terms and Conditions
            <span style="padding-left: 50px">Privacy</span>

        </div>
    </body>
</html>